.Button {
    appearance: none;
    background: #0277bc;
    border: none;
    font-size: 1em;
    color: #ffffff;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);

    &:hover, &:focus {
        background: #004c8c;
        outline: none;
    }

    &:disabled {
        background: #58a5f0;
        cursor: not-allowed;
    }
}