$default-border: 1px solid #cccccc;

.TranslationBox {
    border: $default-border;
    border-radius: 0.2em;
    margin: 0 1em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

    &-header {
        padding: 0.5em;
        margin: 0;
        border-bottom: $default-border;
    }

    &-body {
        padding: 0.5em;
        display: flex;
        align-items: center;

        fieldset {
            display: block;
            border: 0;
            margin: 0;
            padding: 0.5em;
        }
    }

    &-footer {
        padding: 0 1em 0.5em;
        text-align: right;
    }

    &-separator {
        margin: 0.5em;
    }
}