.TranslationBox {
  border: 1px solid #cccccc;
  border-radius: 0.2em;
  margin: 0 1em 2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .TranslationBox-header {
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px solid #cccccc; }
  .TranslationBox-body {
    padding: 0.5em;
    display: flex;
    align-items: center; }
    .TranslationBox-body fieldset {
      display: block;
      border: 0;
      margin: 0;
      padding: 0.5em; }
  .TranslationBox-footer {
    padding: 0 1em 0.5em;
    text-align: right; }
  .TranslationBox-separator {
    margin: 0.5em; }
