.App-header {
  text-align: center;
  background-color: #0277bd;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 2em; }

.App-title {
  font-size: 2em; }

.App-body {
  margin: 1em auto;
  max-width: 980px; }
