.InputText {
    border: 1px solid #cccccc;
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 1em;
    height: 2.25em;
    display: block;
    width: 100%;

    &:focus {
        outline: none;
        transition: border-color 0.2s;
        border-color: #0277bd;
    }
}